In [1]:
import os
import pandas as pd
import glob
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
print(os.listdir("C:/Users/오원석/user_name/elo-merchant-category-recommendation"))

['Data_Dictionary.xlsx', 'historical_transactions.csv', 'merchants.csv', 'new_merchant_transactions.csv', 'sample_submission.csv', 'test.csv', 'train.csv']

In [2]:
#conda install -c conda-forge workalendar

In [3]:
import numpy as np
import pandas as pd
import datetime
import gc
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
import warnings

import workalendar
from workalendar.america import Brazil

warnings.filterwarnings('ignore')
np.random.seed(4590)

In [60]:
cal = Brazil()
for yr in [2011,2012,2013,2014,2015,2016,2017]:
    print(yr,cal.holidays(yr))

2011 [(datetime.date(2011, 1, 1), 'New year'), (datetime.date(2011, 4, 21), "Tiradentes' Day"), (datetime.date(2011, 4, 24), 'Easter Sunday'), (datetime.date(2011, 5, 1), 'Labour Day'), (datetime.date(2011, 9, 7), 'Independence Day'), (datetime.date(2011, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2011, 11, 2), "All Souls' Day"), (datetime.date(2011, 11, 15), 'Republic Day'), (datetime.date(2011, 11, 20), 'Consciência Negra'), (datetime.date(2011, 12, 25), 'Christmas Day')]
2012 [(datetime.date(2012, 1, 1), 'New year'), (datetime.date(2012, 4, 8), 'Easter Sunday'), (datetime.date(2012, 4, 21), "Tiradentes' Day"), (datetime.date(2012, 5, 1), 'Labour Day'), (datetime.date(2012, 9, 7), 'Independence Day'), (datetime.date(2012, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2012, 11, 2), "All Souls' Day"), (datetime.date(2012, 11, 15), 'Republic Day'), (datetime.date(2012, 11, 20), 'Consciência Negra'), (datetime.date(2012, 12, 25), 'Christmas Day')]
2013 [(datetime.date(2013, 1, 1), 'New year'), (datetime.date(2013, 3, 31), 'Easter Sunday'), (datetime.date(2013, 4, 21), "Tiradentes' Day"), (datetime.date(2013, 5, 1), 'Labour Day'), (datetime.date(2013, 9, 7), 'Independence Day'), (datetime.date(2013, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2013, 11, 2), "All Souls' Day"), (datetime.date(2013, 11, 15), 'Republic Day'), (datetime.date(2013, 11, 20), 'Consciência Negra'), (datetime.date(2013, 12, 25), 'Christmas Day')]
2014 [(datetime.date(2014, 1, 1), 'New year'), (datetime.date(2014, 4, 20), 'Easter Sunday'), (datetime.date(2014, 4, 21), "Tiradentes' Day"), (datetime.date(2014, 5, 1), 'Labour Day'), (datetime.date(2014, 9, 7), 'Independence Day'), (datetime.date(2014, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2014, 11, 2), "All Souls' Day"), (datetime.date(2014, 11, 15), 'Republic Day'), (datetime.date(2014, 11, 20), 'Consciência Negra'), (datetime.date(2014, 12, 25), 'Christmas Day')]
2015 [(datetime.date(2015, 1, 1), 'New year'), (datetime.date(2015, 4, 5), 'Easter Sunday'), (datetime.date(2015, 4, 21), "Tiradentes' Day"), (datetime.date(2015, 5, 1), 'Labour Day'), (datetime.date(2015, 9, 7), 'Independence Day'), (datetime.date(2015, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2015, 11, 2), "All Souls' Day"), (datetime.date(2015, 11, 15), 'Republic Day'), (datetime.date(2015, 11, 20), 'Consciência Negra'), (datetime.date(2015, 12, 25), 'Christmas Day')]
2016 [(datetime.date(2016, 1, 1), 'New year'), (datetime.date(2016, 3, 27), 'Easter Sunday'), (datetime.date(2016, 4, 21), "Tiradentes' Day"), (datetime.date(2016, 5, 1), 'Labour Day'), (datetime.date(2016, 9, 7), 'Independence Day'), (datetime.date(2016, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2016, 11, 2), "All Souls' Day"), (datetime.date(2016, 11, 15), 'Republic Day'), (datetime.date(2016, 11, 20), 'Consciência Negra'), (datetime.date(2016, 12, 25), 'Christmas Day')]
2017 [(datetime.date(2017, 1, 1), 'New year'), (datetime.date(2017, 4, 16), 'Easter Sunday'), (datetime.date(2017, 4, 21), "Tiradentes' Day"), (datetime.date(2017, 5, 1), 'Labour Day'), (datetime.date(2017, 9, 7), 'Independence Day'), (datetime.date(2017, 10, 12), 'Our Lady of Aparecida'), (datetime.date(2017, 11, 2), "All Souls' Day"), (datetime.date(2017, 11, 15), 'Republic Day'), (datetime.date(2017, 11, 20), 'Consciência Negra'), (datetime.date(2017, 12, 25), 'Christmas Day')]

In [4]:
train=pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/train.csv")

In [28]:
history_trans = pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/historical_transactions.csv")

In [6]:
merchant=pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/merchants.csv")

In [7]:
new_merchant1=pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/new_merchant_transactions.csv")

In [8]:
test=pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/test.csv")

In [9]:
history_reader = pd.read_csv("C:/Users/오원석/user_name/elo-merchant-category-recommendation/historical_transactions.csv", chunksize = 100)
type(history_reader)

pandas.io.parsers.TextFileReader

In [10]:
hist_chunk = None

for chunk in history_reader:
    hist_chunk = chunk
    print(hist_chunk)
    break

   authorized_flag          card_id  city_id category_1  installments  \
0                Y  C_ID_4e6213e9bc       88          N             0
1                Y  C_ID_4e6213e9bc       88          N             0
2                Y  C_ID_4e6213e9bc       88          N             0
3                Y  C_ID_4e6213e9bc       88          N             0
4                Y  C_ID_4e6213e9bc       88          N             0
5                Y  C_ID_4e6213e9bc      333          N             0
6                Y  C_ID_4e6213e9bc       88          N             0
7                Y  C_ID_4e6213e9bc        3          N             0
8                Y  C_ID_4e6213e9bc       88          N             0
9                Y  C_ID_4e6213e9bc       88          N             0
10               Y  C_ID_4e6213e9bc       88          N             0
11               Y  C_ID_4e6213e9bc       -1          N             0
12               Y  C_ID_4e6213e9bc       88          N             0
13               Y  C_ID_4e6213e9bc       88          N             0
14               Y  C_ID_4e6213e9bc       88          N             0
15               Y  C_ID_4e6213e9bc       88          N             0
16               Y  C_ID_4e6213e9bc       69          N             0
17               Y  C_ID_4e6213e9bc       88          N             0
18               Y  C_ID_4e6213e9bc      233          N             0
19               Y  C_ID_4e6213e9bc       88          N             0
20               Y  C_ID_4e6213e9bc       88          N             0
21               Y  C_ID_4e6213e9bc       88          N             0
22               Y  C_ID_4e6213e9bc       88          N             0
23               Y  C_ID_4e6213e9bc       88          N             0
24               Y  C_ID_4e6213e9bc        3          N             0
25               Y  C_ID_4e6213e9bc      333          N             0
26               Y  C_ID_4e6213e9bc       88          N             0
27               Y  C_ID_4e6213e9bc       88          N             0
28               Y  C_ID_4e6213e9bc       88          N             0
29               Y  C_ID_4e6213e9bc       88          N             0
..             ...              ...      ...        ...           ...
70               Y  C_ID_4e6213e9bc       88          N             0
71               Y  C_ID_4e6213e9bc       88          N             0
72               Y  C_ID_4e6213e9bc      333          N             0
73               Y  C_ID_4e6213e9bc       88          N             0
74               Y  C_ID_4e6213e9bc       88          N             0
75               Y  C_ID_4e6213e9bc       88          N             0
76               Y  C_ID_4e6213e9bc       88          N             0
77               Y  C_ID_4e6213e9bc       88          N             0
78               Y  C_ID_4e6213e9bc       88          N             0
79               Y  C_ID_4e6213e9bc       88          N             0
80               Y  C_ID_4e6213e9bc       -1          N             0
81               Y  C_ID_4e6213e9bc       88          N             0
82               Y  C_ID_4e6213e9bc       -1          N             0
83               Y  C_ID_4e6213e9bc       88          N             0
84               Y  C_ID_4e6213e9bc        3          N             0
85               Y  C_ID_4e6213e9bc       88          N             0
86               Y  C_ID_4e6213e9bc       88          N             0
87               Y  C_ID_4e6213e9bc       88          N             0
88               Y  C_ID_4e6213e9bc       -1          N             0
89               Y  C_ID_4e6213e9bc       88          N             0
90               Y  C_ID_4e6213e9bc       88          N             0
91               Y  C_ID_4e6213e9bc       88          N             0
92               Y  C_ID_4e6213e9bc       88          N             0
93               Y  C_ID_4e6213e9bc       88          N             0
94               Y  C_ID_4e6213e9bc       88          N             0
95               Y  C_ID_4e6213e9bc      333          N             0
96               Y  C_ID_4e6213e9bc       88          N             0
97               Y  C_ID_4e6213e9bc       88          N             0
98               Y  C_ID_4e6213e9bc       88          N             0
99               Y  C_ID_4e6213e9bc       88          N             0

   category_3  merchant_category_id      merchant_id  month_lag  \
0           A                    80  M_ID_e020e9b302         -8
1           A                   367  M_ID_86ec983688         -7
2           A                    80  M_ID_979ed661fc         -6
3           A                   560  M_ID_e6d5ae8ea6         -5
4           A                    80  M_ID_e020e9b302        -11
5           A                    80  M_ID_50af771f8d          0
6           A                   278  M_ID_5e8220e564        -11
7           A                    80  M_ID_9d41786a50         -3
8           A                    80  M_ID_979ed661fc         -8
9           A                    80  M_ID_74ba14b5fc        -11
10          A                   683  M_ID_1449f22bfb         -9
11          A                   560  M_ID_7c5e93af2f          0
12          A                    80  M_ID_e020e9b302         -8
13          A                   130  M_ID_e8fb39882d         -7
14          A                    80  M_ID_97e86eae5f         -4
15          A                   560  M_ID_e6d5ae8ea6         -8
16          A                   879  M_ID_00a6ca8a8a          0
17          A                   278  M_ID_21e1552dab         -7
18          A                    80  M_ID_4524a562f3         -1
19          A                    80  M_ID_e020e9b302         -6
20          A                   278  M_ID_21e1552dab         -6
21          A                    80  M_ID_979ed661fc         -7
22          A                    80  M_ID_979ed661fc         -7
23          A                   278  M_ID_e020e9b302         -9
24          A                   511  M_ID_79db784180        -13
25          A                    80  M_ID_50af771f8d          0
26          A                   278  M_ID_e020e9b302        -10
27          A                    80  M_ID_979ed661fc         -8
28          A                   278  M_ID_21e1552dab        -11
29          A                    80  M_ID_dc7356f06d         -6
..        ...                   ...              ...        ...
70          A                    80  M_ID_e020e9b302         -8
71          A                    80  M_ID_e020e9b302         -8
72          A                   528  M_ID_89c56116e9          0
73          A                   111  M_ID_83367527c8         -9
74          A                    80  M_ID_e020e9b302         -5
75          A                    80  M_ID_e020e9b302         -4
76          A                   278  M_ID_21e1552dab         -6
77          A                    80  M_ID_dc7356f06d         -5
78          A                   367  M_ID_86ec983688         -8
79          A                   130  M_ID_e8fb39882d         -4
80          A                    80  M_ID_98b342c0e3          0
81          A                   560  M_ID_e6d5ae8ea6         -5
82          A                   278              NaN          0
83          A                    80  M_ID_e020e9b302         -9
84          A                   511  M_ID_79db784180        -10
85          A                   683  M_ID_1449f22bfb         -4
86          A                   278  M_ID_e68ba142de         -2
87          A                    80  M_ID_e020e9b302         -7
88          A                   437  M_ID_e8062abeef          0
89          A                   683  M_ID_1449f22bfb         -9
90          A                    80  M_ID_e020e9b302         -5
91          A                   278  M_ID_e2aed68eba         -9
92          A                   278  M_ID_5e8220e564        -11
93          A                    80  M_ID_c2a7f2dccf         -5
94          A                   278  M_ID_5e8220e564        -10
95          A                   278  M_ID_7329fe90b9          0
96          A                   560  M_ID_e6d5ae8ea6         -6
97          A                   278  M_ID_21e1552dab         -6
98          A                    80  M_ID_e020e9b302         -6
99          A                   278  M_ID_21e1552dab        -11

    purchase_amount        purchase_date  category_2  state_id  subsector_id
0         -0.703331  2017-06-25 15:33:07         1.0        16            37
1         -0.733128  2017-07-15 12:10:45         1.0        16            16
2         -0.720386  2017-08-09 22:04:29         1.0        16            37
3         -0.735352  2017-09-02 10:06:26         1.0        16            34
4         -0.722865  2017-03-10 01:14:19         1.0        16            37
5         -0.734887  2018-02-24 08:45:05         1.0         9            37
6         -0.716855  2017-03-21 00:10:51         1.0        16            37
7         -0.657049  2017-11-18 20:05:55         1.0        16            37
8         -0.737967  2017-06-01 22:02:56         1.0        16            37
9         -0.715352  2017-03-16 15:41:22         1.0        16            37
10        -0.734135  2017-05-09 12:42:07         1.0        16            34
11        -0.727929  2018-02-08 20:05:45         NaN        -1            34
12        -0.741649  2017-06-08 18:02:29         1.0        16            37
13        -0.727373  2017-07-14 12:59:38         1.0        16            41
14        -0.731881  2017-10-24 13:29:29         1.0        16            37
15        -0.738192  2017-06-14 07:40:48         1.0        16            34
16        -0.725871  2018-02-07 12:19:33         1.0         9            29
17        -0.734887  2017-07-07 13:03:27         1.0        16            37
18        -0.699725  2018-01-08 23:54:29         1.0         9            37
19        -0.745405  2017-08-11 17:53:00         1.0        16            37
20        -0.734887  2017-08-30 12:53:57         1.0        16            37
21        -0.737967  2017-07-01 21:27:23         1.0        16            37
22        -0.739545  2017-07-14 22:06:02         1.0        16            37
23        -0.726998  2017-05-06 12:29:50         1.0        16            37
24        -0.731881  2017-01-20 09:16:43         1.0        16             7
25        -0.735638  2018-02-26 14:54:38         1.0         9            37
26        -0.726472  2017-04-29 12:30:03         1.0        16            37
27        -0.726772  2017-06-23 21:43:17         1.0        16            37
28        -0.721363  2017-03-10 15:46:19         1.0        16            37
29        -0.692211  2017-08-05 19:10:32         1.0        16            37
..              ...                  ...         ...       ...           ...
70        -0.737892  2017-06-13 17:55:53         1.0        16            37
71        -0.741649  2017-06-20 17:46:35         1.0        16            37
72        -0.725871  2018-02-18 14:15:17         1.0         9            25
73        -0.656899  2017-05-13 12:01:29         1.0        16            36
74        -0.740146  2017-09-22 20:47:15         1.0        16            37
75        -0.740146  2017-10-20 19:54:46         1.0        16            37
76        -0.734887  2017-08-09 13:02:45         1.0        16            37
77        -0.716930  2017-09-08 00:22:15         1.0        16            37
78        -0.740161  2017-06-13 22:02:08         1.0        16            16
79        -0.725871  2017-10-16 14:51:03         1.0        16            41
80        -0.724368  2018-02-23 09:20:59         NaN        -1            37
81        -0.738102  2017-09-23 10:22:22         1.0        16            34
82        -0.713173  2018-02-25 12:07:37         NaN        -1            37
83        -0.734511  2017-05-08 17:48:00         1.0        16            37
84        -0.719860  2017-04-13 10:55:22         1.0        16             7
85        -0.734135  2017-10-17 14:27:51         1.0        16            34
86        -0.737892  2017-12-14 11:21:42         1.0        16            37
87        -0.742400  2017-07-05 07:16:30         1.0        16            37
88        -0.637921  2018-02-06 08:19:03         NaN        -1            15
89        -0.734135  2017-05-11 12:17:21         1.0        16            34
90        -0.728876  2017-09-13 20:50:01         1.0        16            37
91        -0.709943  2017-05-07 13:08:46         1.0        16            37
92        -0.743452  2017-03-28 11:25:30         1.0        16            37
93        -0.724368  2017-09-29 15:02:15         1.0        16            37
94        -0.727524  2017-04-28 13:11:16         1.0        16            37
95        -0.708019  2018-02-04 13:43:21         1.0         9            37
96        -0.738538  2017-08-11 10:40:29         1.0        16            34
97        -0.734887  2017-08-11 13:02:59         1.0        16            37
98        -0.737892  2017-08-04 15:48:28         1.0        16            37
99        -0.734135  2017-03-15 15:53:29         1.0        16            37

[100 rows x 14 columns]

In [11]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2   
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64) 
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)   
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [12]:
df_train = reduce_mem_usage(train)

Mem. usage decreased to  4.04 Mb (56.2% reduction)

In [13]:

df_test = reduce_mem_usage(test)

Mem. usage decreased to  2.24 Mb (52.5% reduction)

In [29]:
hist_trans = reduce_mem_usage(history_trans)

Mem. usage decreased to 1749.11 Mb (43.7% reduction)

In [15]:
new_merchant = reduce_mem_usage(new_merchant1)

Mem. usage decreased to 114.20 Mb (45.5% reduction)

In [30]:
for df in [hist_trans,new_merchant]:
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['date'] = df['purchase_date'].dt.date
    df['year'] = df['purchase_date'].dt.year
    df['weekofyear'] = df['purchase_date'].dt.weekofyear
    df['month'] = df['purchase_date'].dt.month
    df['dayofweek'] = df['purchase_date'].dt.dayofweek
    df['weekend'] = (df.purchase_date.dt.weekday >=5).astype(int)
    df['hour'] = df['purchase_date'].dt.hour
    df['month_diff'] = ((datetime.datetime.today() - df['purchase_date']).dt.days)//30
    df['month_diff'] += df['month_lag']

In [31]:
hist_trans.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,state_id,subsector_id,date,year,weekofyear,month,dayofweek,weekend,hour,month_diff
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,...,16,37,2017-06-25,2017,25,6,6,1,15,23
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,...,16,16,2017-07-15,2017,28,7,5,1,12,23
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,...,16,37,2017-08-09,2017,32,8,2,0,22,23
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,...,16,34,2017-09-02,2017,35,9,5,1,10,23
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,...,16,37,2017-03-10,2017,10,3,4,0,1,23

In [39]:
hist_trans['authorized_flag']=history_trans['authorized_flag'].map({'Y':1, 'N':0})
hist_trans['category_1']=history_trans['category_1'].map({'Y':1, 'N':0})

In [40]:
def aggregate_historical_transactions(history):
   
    history.loc[:, 'purchase_date'] = pd.DatetimeIndex(history['purchase_date']).\
                                      astype(np.int64) * 1e-9
   
    agg_func = {
        'authorized_flag': ['sum', 'mean'],
        'merchant_id': ['nunique'],
        'city_id': ['nunique'],
        'purchase_amount': ['sum', 'median', 'max', 'min', 'std'],
        'installments': ['sum', 'median', 'max', 'min', 'std'],
        'purchase_date': ['min','max'],
        'month_lag': ['min', 'max']
        }
    agg_history = history.groupby(['card_id']).agg(agg_func)
    agg_history.columns = ['hist_' + '_'.join(col).strip()
                           for col in agg_history.columns.values]
    agg_history.reset_index(inplace=True)
   
    df = (history.groupby('card_id')
          .size()
          .reset_index(name='hist_transactions_count'))
   
    agg_history = pd.merge(df, agg_history, on='card_id', how='left')
   
    return agg_history

history = aggregate_historical_transactions(hist_trans)
del hist_trans
gc.collect()

1754

In [34]:
history.columns

Index(['card_id', 'hist_transactions_count', 'hist_authorized_flag_sum',
       'hist_authorized_flag_mean', 'hist_merchant_id_nunique',
       'hist_city_id_nunique', 'hist_purchase_amount_sum',
       'hist_purchase_amount_median', 'hist_purchase_amount_max',
       'hist_purchase_amount_min', 'hist_purchase_amount_std',
       'hist_installments_sum', 'hist_installments_median',
       'hist_installments_max', 'hist_installments_min',
       'hist_installments_std', 'hist_purchase_date_min',
       'hist_purchase_date_max', 'hist_month_lag_min', 'hist_month_lag_max'],
      dtype='object')

In [37]:
hist_trans = reduce_mem_usage(history_trans)

Mem. usage decreased to 1693.59 Mb (50.4% reduction)

In [41]:
import datetime
for df in [df_train,df_test]:
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['year'] = df['first_active_month'].dt.year
    df['month'] = df['first_active_month'].dt.month
    df['elapsed_time'] = (datetime.date(2020, 1, 1) - df['first_active_month'].dt.date).dt.days
    df['working_time1'] = (df['first_active_month'].dt.date - datetime.date(2011, 1, 1)).dt.days
    df['working_time2'] = (df['first_active_month'].dt.date - datetime.date(2011, 12, 25)).dt.days
    df['working_time3'] = (df['first_active_month'].dt.date - datetime.date(2012, 1, 1)).dt.days
    df['working_time4'] = (df['first_active_month'].dt.date - datetime.date(2012, 12,25)).dt.days
    df['working_time5'] = (df['first_active_month'].dt.date - datetime.date(2013, 1, 1)).dt.days
    df['working_time6'] = (df['first_active_month'].dt.date - datetime.date(2013, 12, 25)).dt.days
    df['working_time7'] = (df['first_active_month'].dt.date - datetime.date(2014, 1, 1)).dt.days
    df['working_time8'] = (df['first_active_month'].dt.date - datetime.date(2014, 12, 25)).dt.days
    df['working_time9'] = (df['first_active_month'].dt.date - datetime.date(2015, 1, 1)).dt.days
    df['working_time10'] = (df['first_active_month'].dt.date - datetime.date(2015, 12, 25)).dt.days
    df['working_time11'] = (df['first_active_month'].dt.date - datetime.date(2016, 1, 1)).dt.days
    df['working_time12'] = (df['first_active_month'].dt.date - datetime.date(2016, 12, 25)).dt.days
    df['working_time13'] = (df['first_active_month'].dt.date - datetime.date(2017, 1, 1)).dt.days
    df['working_time14'] = (df['first_active_month'].dt.date - datetime.date(2017, 12, 25)).dt.days

In [42]:
new_merchant['authorized_flag']=new_merchant['authorized_flag'].map({'Y':1, 'N':0})
new_merchant['category_1']=new_merchant['category_1'].map({'Y':1, 'N':0})

In [43]:
new_merchant.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,...,state_id,subsector_id,date,year,weekofyear,month,dayofweek,weekend,hour,month_diff
0,1,C_ID_415bb3a509,107,0,1,B,307,M_ID_b0c793002c,1,-0.557617,...,9,19,2018-03-11,2018,10,3,6,1,14,23
1,1,C_ID_415bb3a509,140,0,1,B,307,M_ID_88920c89e8,1,-0.569336,...,9,19,2018-03-19,2018,12,3,0,0,18,23
2,1,C_ID_415bb3a509,330,0,1,B,507,M_ID_ad5237ef6b,2,-0.551270,...,9,14,2018-04-26,2018,17,4,3,0,14,22
3,1,C_ID_415bb3a509,-1,1,1,B,661,M_ID_9e84cda3b1,1,-0.671875,...,-1,8,2018-03-07,2018,10,3,2,0,9,23
4,1,C_ID_ef55cf8d4b,-1,1,1,B,166,M_ID_3c86fa3831,1,-0.659668,...,-1,29,2018-03-22,2018,12,3,3,0,21,23

In [44]:
def aggregate_new_transactions(new_trans):   
    agg_func = {
        'authorized_flag': ['sum', 'mean'],
        'merchant_id': ['nunique'],
        'city_id': ['nunique'],
        'purchase_amount': ['sum', 'median', 'max', 'min', 'std'],
        'installments': ['sum', 'median', 'max', 'min', 'std'],
        'month_lag': ['min', 'max']
        }
    agg_new_trans = new_trans.groupby(['card_id']).agg(agg_func)
    agg_new_trans.columns = ['new_' + '_'.join(col).strip()
                           for col in agg_new_trans.columns.values]
    agg_new_trans.reset_index(inplace=True)
   
    df = (new_trans.groupby('card_id')
          .size()
          .reset_index(name='new_transactions_count'))
   
    agg_new_trans = pd.merge(df, agg_new_trans, on='card_id', how='left')
   
    return agg_new_trans

In [45]:
new_trans = aggregate_new_transactions(new_merchant)

In [46]:
new_trans.head()

,card_id,new_transactions_count,new_authorized_flag_sum,new_authorized_flag_mean,new_merchant_id_nunique,new_city_id_nunique,new_purchase_amount_sum,new_purchase_amount_median,new_purchase_amount_max,new_purchase_amount_min,new_purchase_amount_std,new_installments_sum,new_installments_median,new_installments_max,new_installments_min,new_installments_std,new_month_lag_min,new_month_lag_max
0,C_ID_00007093c1,2,2,1,2,2,-1.328125,-0.664062,-0.656738,-0.671875,0.010704,2,1.0,1,1,0.000000,2,2
1,C_ID_0001238066,26,26,1,25,8,-14.851562,-0.649414,-0.078308,-0.740723,0.173462,42,1.0,10,-1,2.079941,1,2
2,C_ID_0001506ef0,2,2,1,1,1,-1.447266,-0.723633,-0.715332,-0.731934,0.011742,0,0.0,0,0,0.000000,1,1
3,C_ID_0001793786,31,31,1,31,7,-0.229004,-0.372803,3.130859,-0.737793,0.947266,0,0.0,0,0,0.000000,1,2
4,C_ID_000183fdda,11,11,1,11,2,-6.589844,-0.665527,-0.107666,-0.732422,0.182861,16,1.0,4,-1,1.293340,1,2

In [47]:
new_trans.columns

Index(['card_id', 'new_transactions_count', 'new_authorized_flag_sum',
       'new_authorized_flag_mean', 'new_merchant_id_nunique',
       'new_city_id_nunique', 'new_purchase_amount_sum',
       'new_purchase_amount_median', 'new_purchase_amount_max',
       'new_purchase_amount_min', 'new_purchase_amount_std',
       'new_installments_sum', 'new_installments_median',
       'new_installments_max', 'new_installments_min', 'new_installments_std',
       'new_month_lag_min', 'new_month_lag_max'],
      dtype='object')

In [48]:
train=pd.merge(df_train, new_trans, on='card_id', how='left')
test = pd.merge(df_test, new_trans, on='card_id', how='left')

In [49]:
train=pd.merge(df_train, history, on='card_id', how='left')
test = pd.merge(df_test, history, on='card_id', how='left')

In [50]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\anaconda_c\lib\site-packages (2.3.1)
Requirement already satisfied: scikit-learn in c:\anaconda_c\lib\site-packages (from lightgbm) (0.21.2)
Requirement already satisfied: numpy in c:\anaconda_c\lib\site-packages (from lightgbm) (1.16.4)
Requirement already satisfied: scipy in c:\anaconda_c\lib\site-packages (from lightgbm) (1.2.1)
Requirement already satisfied: joblib>=0.11 in c:\anaconda_c\lib\site-packages (from scikit-learn->lightgbm) (0.13.2)
Note: you may need to restart the kernel to use updated packages.

In [51]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn import preprocessing
from sklearn import utils
from lightgbm import LGBMRegressor

In [52]:
use_cols1 = [col for col in train.columns if col not in ['card_id', 'first_active_month']]
use_cols2 = [col for col in test.columns if col not in ['card_id', 'first_active_month']]
train = train[use_cols1]
test = test[use_cols2]

In [56]:
y     = train['target']
train = train.drop(['target'],axis=1)

In [53]:
nfolds = 10
folds = KFold(n_splits=5, shuffle=True, random_state=4590)

In [54]:
param = {'num_leaves': 129,
         'min_data_in_leaf': 148,
         'objective':'regression',
         'max_depth': 9,
         'learning_rate': 0.005,
         "min_child_samples": 24,
         "boosting": "gbdt",
         "feature_fraction": 0.7202,
         "bagging_freq": 1,
         "bagging_fraction": 0.8125 ,
         "bagging_seed": 11,
         "metric": 'rmse',
         "lambda_l1": 0.3468,
         "verbosity": -1}

train.head()

,feature_1,feature_2,feature_3,target,year,month,elapsed_time,working_time1,working_time2,working_time3,...,hist_purchase_amount_std,hist_installments_sum,hist_installments_median,hist_installments_max,hist_installments_min,hist_installments_std,hist_purchase_date_min,hist_purchase_date_max,hist_month_lag_min,hist_month_lag_max
0,5,2,1,-0.820312,2017,6,944,2343,1985,1978,...,0.212139,4,0.0,1,0,0.123314,1.498573,1.519551,-8,0
1,4,1,0,0.392822,2017,1,1095,2192,1834,1827,...,0.384967,543,1.0,10,-1,1.510777,1.483720,1.517438,-12,0
2,2,2,0,0.687988,2016,8,1248,2039,1681,1674,...,0.087380,0,0.0,0,0,0.000000,1.484123,1.519758,-13,0
3,4,3,0,0.142456,2017,9,852,2435,2077,2070,...,0.261624,84,1.0,3,-1,0.588974,1.506443,1.519818,-5,0
4,1,3,0,-0.159790,2017,11,791,2496,2138,2131,...,1.352094,182,1.0,12,1,1.896862,1.510445,1.519850,-3,0

In [57]:
feature_importance_df = np.zeros((train.shape[1], nfolds))
mvalid = np.zeros(len(train))
mfull  = np.zeros(len(test))

for fold_, (trn_idx, val_idx) in enumerate(folds.split(train.values, train.values)):
    print('----')
    print("fold n°{}".format(fold_))
   
    x0,y0 = train.iloc[trn_idx], y[trn_idx]
    x1,y1 = train.iloc[val_idx], y[val_idx]
   
    trn_data = lgb.Dataset(x0, label= y0); val_data = lgb.Dataset(x1, label= y1)
   
    num_round = 10000
    clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data],
                    verbose_eval=500, early_stopping_rounds = 150)
    mvalid[val_idx] = clf.predict(x1, num_iteration=clf.best_iteration)
   
    feature_importance_df[:, fold_] = clf.feature_importance()
   
    mfull += clf.predict(test, num_iteration=clf.best_iteration) / folds.n_splits
   
np.sqrt(mean_squared_error(mvalid, y))

----
fold n°0
Training until validation scores don't improve for 150 rounds
[500]	training's rmse: 3.66407	valid_1's rmse: 3.83344
Early stopping, best iteration is:
[816]	training's rmse: 3.63483	valid_1's rmse: 3.83067
----
fold n°1
Training until validation scores don't improve for 150 rounds
[500]	training's rmse: 3.68861	valid_1's rmse: 3.72351
Early stopping, best iteration is:
[756]	training's rmse: 3.66346	valid_1's rmse: 3.72222
----
fold n°2
Training until validation scores don't improve for 150 rounds
[500]	training's rmse: 3.68583	valid_1's rmse: 3.73336
Early stopping, best iteration is:
[575]	training's rmse: 3.6774	valid_1's rmse: 3.73315
----
fold n°3
Training until validation scores don't improve for 150 rounds
[500]	training's rmse: 3.68004	valid_1's rmse: 3.75901
Early stopping, best iteration is:
[629]	training's rmse: 3.66684	valid_1's rmse: 3.75868
----
fold n°4
Training until validation scores don't improve for 150 rounds
[500]	training's rmse: 3.68609	valid_1's rmse: 3.74493
[1000]	training's rmse: 3.64324	valid_1's rmse: 3.74299
Early stopping, best iteration is:
[932]	training's rmse: 3.64765	valid_1's rmse: 3.74284

3.757710330619495

39